victoria-metrics-single:
  server:
    retentionPeriod: 1d

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      hosts:
        - name: vm.uni.local
          path: 
            - /
          port: http
    
    # resources:
      # requests:
        # cpu: 50m
        # memory: 256Mi
      # limits:
        # cpu: 200m
        # memory: 512Mi
  
    scrape:
      enabled: true
      configMap: ""
      config:
        global:
          scrape_interval: 15s
        scrape_configs:
          - job_name: spam
            static_configs:
              - targets: [ "spam2000.app.svc:80" ]
            max_scrape_size: 33554432   #turned out this app is too "noisy", so this is a hack to allow a target to live longer
            metric_relabel_configs:
              - source_labels: [random_gauge_1]
                regex: "email|name|platform|products"
                action: labeldrop
                
                
          - job_name: node
            static_configs:
              - targets: [ "vmstack-prometheus-node-exporter.monitoring.svc:9100" ]
                
          - job_name: victoriametrics
            static_configs:
              - targets: [ "vmstack-victoria-metrics-single-server.monitoring.svc:8428" ]
                
          - job_name: "kubernetes-apiservers"
            kubernetes_sd_configs:
              - role: endpoints
            scheme: https
            tls_config:
              ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
              insecure_skip_verify: true
            bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
            relabel_configs:
              - source_labels:
                  [
                    __meta_kubernetes_namespace,
                    __meta_kubernetes_service_name,
                    __meta_kubernetes_endpoint_port_name,
                  ]
                action: keep
                regex: default;kubernetes;https
          - job_name: "kubernetes-nodes"
            scheme: https
            tls_config:
              ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
              insecure_skip_verify: true
            bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
            kubernetes_sd_configs:
              - role: node
            relabel_configs:
              - action: labelmap
                regex: __meta_kubernetes_node_label_(.+)
              - target_label: __address__
                replacement: kubernetes.default.svc:443
              - source_labels: [ __meta_kubernetes_node_name ]
                regex: (.+)
                target_label: __metrics_path__
                replacement: /api/v1/nodes/$1/proxy/metrics
          - job_name: "kubernetes-nodes-cadvisor"
            scheme: https
            tls_config:
              ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
              insecure_skip_verify: true
            bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
            kubernetes_sd_configs:
              - role: node
            relabel_configs:
              - action: labelmap
                regex: __meta_kubernetes_node_label_(.+)
              - target_label: __address__
                replacement: kubernetes.default.svc:443
              - source_labels: [ __meta_kubernetes_node_name ]
                regex: (.+)
                target_label: __metrics_path__
                replacement: /api/v1/nodes/$1/proxy/metrics/cadvisor
            metric_relabel_configs:
              - action: replace
                source_labels: [pod]
                regex: '(.+)'
                target_label: pod_name
                replacement: '${1}'
              - action: replace
                source_labels: [container]
                regex: '(.+)'
                target_label: container_name
                replacement: '${1}'
              - action: replace
                target_label: name
                replacement: k8s_stub
              - action: replace
                source_labels: [id]
                regex: '^/system\.slice/(.+)\.service$'
                target_label: systemd_service_name
                replacement: '${1}'

  
kube-state-metrics:
  replica: 1


prometheus-node-exporter:
  hostRootFsMount: 
    enabled: true


grafana:
  adminPassword: grafana

  # plugins:
    # - victoriametrics-metrics-datasource

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: victoriametrics
          type: prometheus
          url: http://vmstack-victoria-metrics-single-server.monitoring.svc:8428
          access: proxy
          isDefault: true
          editable: true
  
  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      searchNamespace: ALL
  
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: default
          orgId: 1
          folder: 'uni'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default
  
  dashboards:
    default:
      # spam2000:
        # file: dashboards/spam2000.json
        # datasource: victoriametrics
      victoria-metrics-single:
        gnetId: 22084
        datasource: victoriametrics
      node-exporter:
        gnetId: 1860
        datasource: victoriametrics
      resource-efficiency:
        gnetId: 24131
        datasource: victoriametrics
      spam2000:
        json: |
          {
            "annotations": {
              "list": [
                {
                  "builtIn": 1,
                  "datasource": {
                    "type": "grafana",
                    "uid": "-- Grafana --"
                  },
                  "enable": true,
                  "hide": true,
                  "iconColor": "rgba(0, 211, 255, 1)",
                  "name": "Annotations & Alerts",
                  "type": "dashboard"
                }
              ]
            },
            "editable": true,
            "fiscalYearStartMonth": 0,
            "graphTooltip": 0,
            "id": 0,
            "links": [],
            "panels": [
              {
                "datasource": {
                  "type": "prometheus",
                  "uid": "PABDA7AB1AD2A1489"
                },
                "fieldConfig": {
                  "defaults": {
                    "mappings": [
                      {
                        "options": {
                          "0": {
                            "color": "red",
                            "index": 1,
                            "text": "Down"
                          },
                          "1": {
                            "color": "green",
                            "index": 0,
                            "text": "Up"
                          }
                        },
                        "type": "value"
                      }
                    ],
                    "thresholds": {
                      "mode": "absolute",
                      "steps": [
                        {
                          "color": "green",
                          "value": 0
                        },
                        {
                          "color": "red",
                          "value": 80
                        }
                      ]
                    },
                    "unit": "short"
                  },
                  "overrides": []
                },
                "gridPos": {
                  "h": 8,
                  "w": 3,
                  "x": 0,
                  "y": 0
                },
                "id": 4,
                "options": {
                  "colorMode": "value",
                  "graphMode": "none",
                  "justifyMode": "auto",
                  "orientation": "auto",
                  "percentChangeColorMode": "standard",
                  "reduceOptions": {
                    "calcs": ["lastNotNull"],
                    "fields": "",
                    "values": false
                  },
                  "showPercentChange": false,
                  "textMode": "auto",
                  "wideLayout": true
                },
                "pluginVersion": "12.3.0",
                "targets": [
                  {
                    "editorMode": "code",
                    "expr": "up{job=\"spam\"}",
                    "legendFormat": "__auto",
                    "range": true,
                    "refId": "A"
                  }
                ],
                "title": "App Status",
                "type": "stat"
              },
              {
                "datasource": {
                  "type": "prometheus",
                  "uid": "PABDA7AB1AD2A1489"
                },
                "fieldConfig": {
                  "defaults": {
                    "color": {
                      "mode": "thresholds"
                    },
                    "mappings": [],
                    "thresholds": {
                      "mode": "absolute",
                      "steps": [
                        {
                          "color": "green",
                          "value": 0
                        },
                        {
                          "color": "red",
                          "value": 80
                        }
                      ]
                    }
                  },
                  "overrides": []
                },
                "gridPos": {
                  "h": 8,
                  "w": 9,
                  "x": 3,
                  "y": 0
                },
                "id": 1,
                "options": {
                  "colorMode": "value",
                  "graphMode": "area",
                  "justifyMode": "auto",
                  "orientation": "auto",
                  "percentChangeColorMode": "standard",
                  "reduceOptions": {
                    "calcs": ["lastNotNull"],
                    "fields": "",
                    "values": false
                  },
                  "showPercentChange": false,
                  "textMode": "auto",
                  "wideLayout": true
                },
                "pluginVersion": "12.3.0",
                "targets": [
                  {
                    "datasource": {
                      "type": "prometheus",
                      "uid": "PABDA7AB1AD2A1489"
                    },
                    "editorMode": "code",
                    "expr": "sum(random_gauge_1{country=~\"(Ukraine|Afghanistan)\"}) by (country)",
                    "legendFormat": "__auto",
                    "range": true,
                    "refId": "A"
                  }
                ],
                "title": "Total by country filtered by (\"Ukraine|Afghanistan)\"",
                "type": "stat"
              },
              {
                "datasource": {
                  "type": "prometheus",
                  "uid": "PABDA7AB1AD2A1489"
                },
                "fieldConfig": {
                  "defaults": {
                    "custom": {
                      "hideFrom": {
                        "legend": false,
                        "tooltip": false,
                        "viz": false
                      },
                      "scaleDistribution": {
                        "type": "linear"
                      }
                    }
                  },
                  "overrides": []
                },
                "gridPos": {
                  "h": 8,
                  "w": 12,
                  "x": 12,
                  "y": 0
                },
                "id": 2,
                "options": {
                  "calculate": false,
                  "cellGap": 1,
                  "color": {
                    "exponent": 0.5,
                    "fill": "dark-orange",
                    "mode": "scheme",
                    "reverse": false,
                    "scale": "exponential",
                    "scheme": "Oranges",
                    "steps": 64
                  },
                  "exemplars": {
                    "color": "rgba(255,0,255,0.7)"
                  },
                  "filterValues": {
                    "le": 1e-9
                  },
                  "legend": {
                    "show": true
                  },
                  "rowsFrame": {
                    "layout": "auto"
                  },
                  "tooltip": {
                    "mode": "single",
                    "showColorScale": false,
                    "yHistogram": false
                  },
                  "yAxis": {
                    "axisPlacement": "left",
                    "reverse": false
                  }
                },
                "pluginVersion": "12.3.0",
                "targets": [
                  {
                    "editorMode": "code",
                    "expr": "sum by (le) (\n  rate(random_histogram_bucket[5m])\n)\n",
                    "legendFormat": "__auto",
                    "range": true,
                    "refId": "A"
                  }
                ],
                "title": "Values distributed into buckets over time by `le`",
                "type": "heatmap"
              },
              {
                "datasource": {
                  "type": "prometheus",
                  "uid": "PABDA7AB1AD2A1489"
                },
                "fieldConfig": {
                  "defaults": {
                    "color": {
                      "mode": "palette-classic"
                    },
                    "custom": {
                      "axisBorderShow": false,
                      "axisCenteredZero": false,
                      "axisColorMode": "text",
                      "axisLabel": "",
                      "axisPlacement": "auto",
                      "barAlignment": 0,
                      "barWidthFactor": 0.6,
                      "drawStyle": "line",
                      "fillOpacity": 0,
                      "gradientMode": "none",
                      "hideFrom": {
                        "legend": false,
                        "tooltip": false,
                        "viz": false
                      },
                      "insertNulls": false,
                      "lineInterpolation": "linear",
                      "lineWidth": 1,
                      "pointSize": 5,
                      "scaleDistribution": {
                        "type": "linear"
                      },
                      "showPoints": "auto",
                      "showValues": false,
                      "spanNulls": false,
                      "stacking": {
                        "group": "A",
                        "mode": "none"
                      },
                      "thresholdsStyle": {
                        "mode": "off"
                      }
                    },
                    "mappings": [],
                    "thresholds": {
                      "mode": "absolute",
                      "steps": [
                        {
                          "color": "green",
                          "value": 0
                        },
                        {
                          "color": "red",
                          "value": 80
                        }
                      ]
                    }
                  },
                  "overrides": []
                },
                "gridPos": {
                  "h": 6,
                  "w": 24,
                  "x": 0,
                  "y": 8
                },
                "id": 3,
                "options": {
                  "legend": {
                    "calcs": [],
                    "displayMode": "list",
                    "placement": "bottom",
                    "showLegend": true
                  },
                  "tooltip": {
                    "hideZeros": false,
                    "mode": "single",
                    "sort": "none"
                  }
                },
                "pluginVersion": "12.3.0",
                "targets": [
                  {
                    "editorMode": "code",
                    "expr": "histogram_quantile(0.95, sum(rate(random_histogram_bucket[$__rate_interval])) by (le))",
                    "legendFormat": "__auto",
                    "range": true,
                    "refId": "A"
                  }
                ],
                "title": "95th percentile (p95) value of random_histogram over time",
                "type": "timeseries"
              }
            ],
            "preload": false,
            "schemaVersion": 42,
            "tags": [],
            "templating": {
              "list": []
            },
            "time": {
              "from": "now-1h",
              "to": "now"
            },
            "timepicker": {},
            "timezone": "browser",
            "title": "Spam2000",
            "uid": "adjsmpl",
            "version": 7
          }

  ingress:
    enabled: true
    ingressClassName: nginx
    hosts: 
      - grafana.uni.local
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    path: /
    extraPaths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: vmstack-grafana
            port:
              number: 80