victoria-metrics-single:
  server:
    retentionPeriod: 1d

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      hosts:
        - name: vm.uni.local
          path: 
            - /
          port: http
    
    # resources:
      # requests:
        # cpu: 50m
        # memory: 256Mi
      # limits:
        # cpu: 200m
        # memory: 512Mi
  
    scrape:
      enabled: true
      configMap: ""
      config:
        global:
          scrape_interval: 15s
        scrape_configs:
          - job_name: spam
            static_configs:
              - targets: [ "spam2000.app.svc:80" ]
          - job_name: node-exporter
            static_configs:
              - targets: [ "vmstack-prometheus-node-exporter.monitoring.svc:9100" ]
          - job_name: victoriametrics
            static_configs:
              - targets: [ "vmstack-victoria-metrics-single-server.monitoring.svc:8428" ]
          - job_name: "kubernetes-apiservers"
            kubernetes_sd_configs:
              - role: endpoints
            scheme: https
            tls_config:
              ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
              insecure_skip_verify: true
            bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
            relabel_configs:
              - source_labels:
                  [
                    __meta_kubernetes_namespace,
                    __meta_kubernetes_service_name,
                    __meta_kubernetes_endpoint_port_name,
                  ]
                action: keep
                regex: default;kubernetes;https
          - job_name: "kubernetes-nodes"
            scheme: https
            tls_config:
              ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
              insecure_skip_verify: true
            bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
            kubernetes_sd_configs:
              - role: node
            relabel_configs:
              - action: labelmap
                regex: __meta_kubernetes_node_label_(.+)
              - target_label: __address__
                replacement: kubernetes.default.svc:443
              - source_labels: [ __meta_kubernetes_node_name ]
                regex: (.+)
                target_label: __metrics_path__
                replacement: /api/v1/nodes/$1/proxy/metrics
          - job_name: "kubernetes-nodes-cadvisor"
            scheme: https
            tls_config:
              ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
              insecure_skip_verify: true
            bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
            kubernetes_sd_configs:
              - role: node
            relabel_configs:
              - action: labelmap
                regex: __meta_kubernetes_node_label_(.+)
              - target_label: __address__
                replacement: kubernetes.default.svc:443
              - source_labels: [ __meta_kubernetes_node_name ]
                regex: (.+)
                target_label: __metrics_path__
                replacement: /api/v1/nodes/$1/proxy/metrics/cadvisor
            metric_relabel_configs:
              - action: replace
                source_labels: [pod]
                regex: '(.+)'
                target_label: pod_name
                replacement: '${1}'
              - action: replace
                source_labels: [container]
                regex: '(.+)'
                target_label: container_name
                replacement: '${1}'
              - action: replace
                target_label: name
                replacement: k8s_stub
              - action: replace
                source_labels: [id]
                regex: '^/system\.slice/(.+)\.service$'
                target_label: systemd_service_name
                replacement: '${1}'

  
kube-state-metrics:
  replica: 1


prometheus-node-exporter:
  hostRootFsMount: 
    enabled: false


grafana:
  adminPassword: grafana

  # plugins:
    # - victoriametrics-metrics-datasource

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: victoriametrics
          type: prometheus
          url: http://vmstack-victoria-metrics-single-server.monitoring.svc:8428/prometheus
          access: proxy
          isDefault: true
          editable: true
  
  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      searchNamespace: ALL
  
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: default
          orgId: 1
          folder: 'uni'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default
  
  dashboards:
    default:
      victoria-metrics-single:
        gnetId: 22084
        datasource: prometheus
      node-exporter:
        gnetId: 1860
        datasource: prometheus
      kubernetes:
        gnetId: 15661
        datasource: prometheus
      victoria-metrics-single-anotether:
        gnetId: 10229
        datasource: prometheus

  ingress:
    enabled: true
    ingressClassName: nginx
    hosts: 
      - grafana.uni.local
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    path: /
    extraPaths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: vmstack-grafana
            port:
              number: 80