apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vmstack
  namespace: argocd
  # https://github.com/argoproj/argo-cd/issues/21035#issuecomment-2828348695
  finalizers:
    # - resources-finalizer.argocd.argoproj.io
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  project: default
  source:
    repoURL: https://github.com/alakaganaguathoork/uni-test-task.git
    path: helm/charts/vmstack
    targetRevision: main
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 3
      backoff:
        duration: 5s
        maxDuration: 5m
        factor: 2